extends layout

block content
  #index-banner.section.no-pad-bot
    .container
      .row
        .col.s12.m6.l6
            h1.header.centlefter.light-blue-text Error
            h5.header.light= code 
            h6.header.light= message