extends layout

block content
  #index-banner.section.no-pad-bot
    .container
      .row
        .col.s12.m6.l6
          h1.header.centlefter.light-blue-text Hi there!
          h5.header.light I'm 
            b Andrew
            | .
            br 
            | A full stack developer...
          h6.light ...who loves coding and camping.
          br
          p I spend my days (& nights!) working on web systems and my weekends in the great outdoors with my family.
          p Please check out my work and get in contact, I love a good chat!
        .col.s12.m6.l6
          img(src='./img/at-desk.svg', alt='Coding', style='max-width: 100%')
      br
      br