nav.light-blue.lighten-1(role='navigation')
  .nav-wrapper.container
    ul.right.hide-on-med-and-down
      li
        a(href='/')
          i.material-icons.left home
          | home
      li
        a(href='/about')
          i.material-icons.left face
          | about
      li
          a(href='/work')
            i.material-icons.left work
            | work
      li
          a(href='/contact')
            i.material-icons.left email
            | contact
    ul#nav-mobile.sidenav
      li
        a(href='/')
          i.material-icons.left home
          | home
      li
        a(href='/about')
          i.material-icons.left face
          | about
      li
          a(href='/work')
            i.material-icons.left work
            | work
      li
          a(href='/contact')
            i.material-icons.left email
            | contact
    a.sidenav-trigger(href='#', data-target='nav-mobile')
      i.material-icons menu