extends layout

block content
  #index-banner.section.no-pad-bot
    .container
      h1.header.centlefter.light-blue-text Some of my work..
      .row
        .col.s12.m6.l6
          h3.header.light OSM-Node
          h7.light Oct 2019 - Present // Open Source
          h4.light Technology
          p NodeJS
          h4.light Function
          p Node Package for OSM (Online Scout Manager) API. I helped contibute code and continue to help maintain the repo.
          a.light-blue.waves-effect.waves-light.btn-large(href='https://github.com/Danomanic/osm-node', target='_blank')
            i.material-icons.right cloud
            | Check it out
        .col.s12.m6.l6.center
          img(src='./img/osm.png', alt='OSM-Node', style='max-width: 40%; padding-top: 20px;')
      br
      br
      .row
        .col.s12.m6.l6
          h3.header.light Booker Scraper - API 
          h7.light Sep 2019 - Present // RT-IT Services
          h4.light Technology
          p NodeJS, Puppeteer, ExpressJS, MySQL
          h4.light Function
          p Bookers Wholesale website has no (or not freely available) API for detailing stock and products available to their customers. I have worked independently on a web scraper that uses Puppeteer to receive details of individual products (such as description, RRP etc) and presents its self as a REST API.
        .col.s12.m6.l6.center
      br
      br
      .row
        .col.s12.m6.l6
          h3.header.light Bump Tracker
          h7.light May 2019 - Present // Personal Projects
          h4.light Technology
          p HTML5, CSS, JavaScript, NodeJS, ExpressJS, MongoDB, Pug, Bootstrap
          h4.light Function
          p A web-app for tracking bumps in the railway track and reporting faults to Network Rail staff. Currently just a project I’m working on to learn.. Nothing official!
          a.light-blue.waves-effect.waves-light.btn-large(href='https://bump.andrewbarber.me', target='_blank')
            i.material-icons.right cloud
            | Check it out
        .col.s12.m6.l6.center
          img(src='./img/Screenshot_20190501-190047.jpg', alt='Bump Tracker', style='max-width: 100%; padding-top: 20px;')
      br
      br
      .row
        .col.s12.m6.l6
          h3.header.light Dunbartonshire District Damboree
          h7.light March 2019 // Dunbartonshire District Scout Council
          h4.light Technology
          p HTML5, JavaScript, Parallax.js, Bootstrap
          h4.light Function
          p A one page information website for Beaver Scout parents and leaders about an camping event.
          a.light-blue.waves-effect.waves-light.btn-large(href='https://dunbartonshire-damboree.org', target='_blank')
            i.material-icons.right cloud
            | Check it out
        .col.s12.m6.l6.center
          img(src='./img/Screenshot_2019-05-01 Dunbartonshire District Damboree Beavers in Tents .jpg', alt='District Damboree', style='max-width: 100%; padding-top:75px')
      br
      br
      .row
        .col.s12.m6.l6
          h3.header.light HealthyPups - Customer Portal
          h7.light May 2016 - May 2019 // HealthyPups
          h4.light Technology
          p HTML5, JavaScript, PHP, MySQL, Bootstrap 
          h4.light Function
          p The HealthyPups Customer Portal is a simple to use responsive web-app for booking in your pups activities, seeing past adventures, making payments and more! 
          a.light-blue.waves-effect.waves-light.btn-large(href='https://healthypups.co.uk', target='_blank')
            i.material-icons.right cloud
            | Check it out
        .col.s12.m6.l6.center
          img(src='./img/Screenshot_2019-05-01 HealthyPups Easy to book dog walks and runs .png', alt='HealthyPups Main Page', style='max-width: 100%; padding-top:75px')
